<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context" xmlns="http://www.springframework.org/schema/beans"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- ############################ web ############################ -->
    <context:component-scan base-package="com.duan.blogos.websample"/>

    <!--使用 spring 注解模式-->
    <mvc:annotation-driven/>

    <!--视图解析器-->
    <!-- 3.配置jsp 显示ViewResolver -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/views/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!--对于静态资源使用默认的拦截器-->
    <!--<mvc:default-servlet-handler/>-->
    <!--把静态资源放在了statics目录下，资源映射如下-->
    <mvc:resources mapping="/css/**" location="/static/css/"/>
    <mvc:resources mapping="/js/**" location="/static/js/"/>
    <mvc:resources mapping="/images/**" location="/static/image/"/>
    <mvc:resources mapping="/plugin/**" location="/static/plugin/"/>
    <mvc:resources mapping="/favicon.ico" location="/static/image/favicon.ico"/>

    <!-- 文件上传 -->
    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="utf-8"/>
        <property name="maxUploadSize" value="10485760000"/>
        <property name="maxInMemorySize" value="40960"/>
    </bean>

    <!--国际化-->
    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basename" value="messages"/>
        <property name="defaultEncoding" value="UTF-8"/>
        <property name="useCodeAsDefaultMessage" value="true"/>
    </bean>

    <!-- 配置基于Session的处理,将提交上来的locale参数进行处理 -->
    <bean id="localeResolver" class="org.springframework.web.servlet.i18n.SessionLocaleResolver">
        <!-- 该属性可以不用配置 -->
        <property name="defaultLocale" value="zh"/>
    </bean>

    <!-- 国际化请求拦截器处理 -->
    <mvc:interceptors>
        <bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor"/>
    </mvc:interceptors>

    <!-- ############################ dubbo ############################ -->
    <dubbo:application name="blogos-web-sample"/>
    <dubbo:registry address="zookeeper://127.0.0.1:2181"/>

    <dubbo:reference id="bloggerAccountService"
                     interface="com.duan.blogos.service.service.blogger.BloggerAccountService"/>
    <dubbo:reference id="bloggerProfileService"
                     interface="com.duan.blogos.service.service.blogger.BloggerProfileService"/>
    <dubbo:reference id="bloggerStatisticsService"
                     interface="com.duan.blogos.service.service.blogger.BloggerStatisticsService"/>
    <dubbo:reference id="bloggerSettingService"
                     interface="com.duan.blogos.service.service.blogger.BloggerSettingService"/>
    <dubbo:reference id="bloggerPictureService"
                     interface="com.duan.blogos.service.service.blogger.BloggerPictureService"/>

    <dubbo:reference id="bloggerBlogService" interface="com.duan.blogos.service.service.blogger.BloggerBlogService"/>
    <dubbo:reference id="bloggerLikeBlogService"
                     interface="com.duan.blogos.service.service.blogger.BloggerLikeBlogService"/>
    <dubbo:reference id="bloggerCollectBlogService"
                     interface="com.duan.blogos.service.service.blogger.BloggerCollectBlogService"/>

    <dubbo:reference id="onlineService" interface="com.duan.blogos.service.service.common.OnlineService"/>

    <dubbo:reference id="operateService" interface="com.duan.blogos.service.service.blog.OperateService"/>
    <dubbo:reference id="statisticsService" interface="com.duan.blogos.service.service.blog.StatisticsService"/>
    <dubbo:reference id="webSiteStatisticsService" timeout="10000"
                     interface="com.duan.blogos.service.service.website.WebSiteStatisticsService"/>

</beans>