<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.duan.blogos.service.dao.BlogDao">

    <select id="listBlog" resultType="com.duan.blogos.service.entity.Blog">
        SELECT *
        FROM blog b
        WHERE state = #{status}
          AND b.id = #{bloggerId}
    </select>

    <select id="listBlogWithLimit" resultType="com.duan.blogos.service.entity.Blog">
        SELECT *
        FROM blog b
        WHERE state = #{status}
          AND b.id = #{bloggerId}
        LIMIT #{offset}, #{rows}
    </select>

    <select id="listAll" resultType="com.duan.blogos.service.entity.Blog">
        SELECT *
        FROM blog
    </select>

    <update id="update" parameterType="com.duan.blogos.service.entity.Blog">
        UPDATE blog
        <set>
            <if test="bloggerId != null">
                blogger_id=#{bloggerId},
            </if>
            <if test="state != null">
                state=#{state},
            </if>
            <if test="title != null">
                title=#{title},
            </if>
            <if test="content != null">
                content=#{content},
            </if>
            <if test="contentMd != null">
                content_md=#{contentMd},
            </if>
            <if test="summary != null">
                summary=#{summary},
            </if>
            <if test="releaseDate != null">
                release_date=#{releaseDate},
            </if>

            nearest_modify_date=NOW(),

            <if test="keyWords != null">
                key_words=#{keyWords},
            </if>
        </set>
        <where>
            id=#{id}
        </where>

    </update>

    <delete id="delete">
        DELETE
        FROM blog
        WHERE id = #{id}
    </delete>

    <insert id="insert" parameterType="com.duan.blogos.service.entity.Blog" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO blog (blogger_id,
                          state,
                          title,
                          content,
                          content_md,
                          summary,
                          release_date,
                          nearest_modify_date,
                          key_words)
        VALUE (#{bloggerId}, ifnull(#{state}, 0), # state 0 为正在审核
               #{title}, #{content}, #{contentMd}, #{summary}, NOW(), NOW(), #{keyWords}, 0))
    </insert>

    <select id="listBlogByBlogIds" resultType="com.duan.blogos.service.entity.Blog" parameterType="list">
        SELECT *
        FROM blog b
        WHERE b.id IN
        <foreach collection="ids"
                 item="id"
                 open="("
                 separator=","
                 close=")">
            #{id}
        </foreach>
        AND b.state=#{status}
        <if test="sortRule != null">
            order by #{sortRule.rule.code} #{sortRule.order.code}
        </if>
    </select>

    <select id="getBlogIdByUniqueKey" resultType="java.lang.Long">
        SELECT b.id
        FROM blog b
        WHERE b.blogger_id = #{bloggerId}
          AND b.title = #{title}
    </select>

    <select id="getBlogById" resultType="com.duan.blogos.service.entity.Blog">
        SELECT *
        FROM blog b
        WHERE b.id = #{value}
    </select>

    <select id="getBlogIdById" resultType="java.lang.Integer">
        SELECT b.id
        FROM blog b
        WHERE b.id = #{value}
    </select>

    <select id="listAllLabelByBloggerId" resultType="com.duan.blogos.service.entity.Blog">
        SELECT b.id
        FROM blog b
        WHERE b.blogger_id = #{value}
    </select>

    <select id="countBlogByBloggerId" resultType="java.lang.Integer">
        SELECT count(*)
        FROM blog
        WHERE blogger_id = #{bloggerId}
          AND state = #{state}
    </select>

    <select id="listAllByFormat" resultType="com.duan.blogos.service.entity.Blog">
        SELECT
        blogger_id,
        state,
        title,
        <choose>
            <when test="format == 1">
                content,
            </when>
            <otherwise>
                content_md,
            </otherwise>
        </choose>
        summary,
        release_date,
        nearest_modify_date,
        key_words
        FROM blog
        WHERE blogger_id = #{bloggerId}
    </select>

    <select id="listAllIdByBloggerId" resultType="com.duan.blogos.service.entity.Blog">
        SELECT id
        FROM blog
        WHERE blogger_id = #{value}
    </select>

</mapper>